/* This css file is applied on index.html and register.html */

* {
    font-family: "Inter", serif;

}
.sticky-header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 2; 
    padding: 15px;
}

#about-app {
    text-align: justify;
}
.required {
    font-weight: bold;
    color: red;
}

.login {
    width: 80%;
}



.btn-success:active {
    background-color: #0a5a1b; 
    color: white;
    border-color: #084716;
    transform: scale(0.98);
}