<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Linking Bootstrap Styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- Google font Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Linking Self Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo3.png') }}">
</head>
<!-- NO undo now -->

<body>
    <header class="d-flex align-items-center p-2 bg-light">
        <div class="flex-shrink-0">
            <a href="{{ url_for('admin_dashboard') }}">
                <img src="{{ url_for('static', filename='logo3.png') }}" class="img-fluid pb-2" width="150px"
                    alt="logo" />
            </a>
        </div>

        <div class="d-flex flex-grow-1 justify-content-end mx-3">

            <nav class="d-flex mx-3">
                <a class="btn btn-outline-danger m-1" href="{{ url_for('logout') }}" role="button">Logout</a>
            </nav>

        </div>

        <div class="flex-shrink-0 text-end mx-3">
            <div class="text-center text-primary">Admin</div>
            <h3>Welcome {{session['first_name']}}</h3>
        </div>
    </header>

    <section class="container-fluid s2">
        <div class="container-fluid">
            <div class="row row-cols-2">
                <div class="col border border-light border-2 py-2 px-3">
                    {% if quiz_dict_list %}
                    <h2 class="text-center mt-3">Quizzes</h2>
                    <table class="table table-bordered rounded-4 rounded-table">
                        <thead class="table-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Subjects</th>
                                <th scope="col" class="text-center">Deadline</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- quiz_dict = {'quiz_id':quiz.id,
                                            'date_created':quiz.date_created,
                                            'deadline':quiz.deadline,
                                            'dur':quiz.time_duration,
                                            'quest_count':quiz.No_of_questions,
                                            'subj_chap_dict': {sub1:[chap1,chap2],sub2:[chap1,chap2]} 
                                            } -->
                            <!-- quiz_dict_list is list of quiz_dicts that is  [quiz_dict_1 , quiz_dict_2,....] -->
                            {% for quiz_dict in quiz_dict_list %}
                            <tr>
                                <th scope="row" class="text-center">{{ loop.index }}</th>
                                <td class="text-center"> {{quiz_dict['quiz_id']}} </td>
                                <td>
                                    {% for key in quiz_dict['subj_chap_dict'] %}
                                    {% if loop.last %}
                                    {{ key }}
                                    {% else %}
                                    {{ key }}<strong> ,</strong>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="text-center"> {{quiz_dict['deadline']}} </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    <h2 class="text-center mt-5">Quizzes</h2>
                    <h2 class="text-center text-primary mt-3">No Current Quiz Available.</h2>
                    <div class="container text-center">
                        <small class="text-center text-muted">Go to manage Quizzes then create quiz to show
                            here.</small>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-success m-1 py-2" href="{{ url_for('admin_quizzes') }}" role="button">Manage
                            Quizzes</a>
                    </div>
                </div>

                <div class="col border border-light border-2 py-2 px-3">
                    {% if subjects %}
                    <h2 class="text-center mt-3">Subjects</h2>
                    <table class="table table-bordered rounded-4 border-1 rounded-table">
                        <thead>
                            <tr class="table-success text-center">
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col" class="text-center">No. of Chapters</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                            <tr>
                                <th scope="row" class="text-center">{{ loop.index }}</th>
                                <td class="text-center">{{ subject.id }}</td>
                                <td>{{ subject.name }}</td>
                                <td class="text-center">{{ subject.chapters|length }}</td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                    {% else %}
                    <h2 class="text-center mt-5">Subjects</h2>
                    <h2 class="text-center text-primary mt-3">No Subjects Available.</h2>
                    <div class="container text-center">
                        <small class="text-center text-muted">Go to manage Subjects then add a subject to show
                            here.</small>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-success m-1 py-2" href="{{ url_for('admin_subjects') }}" role="button">Manage
                            Subjects</a>
                    </div>


                </div>
                <div class="col border border-light border-2 py-2 px-3">
                    <div class="container">
                        <h2 class="text-center">Statistics</h2>
                        <canvas id="user_quiz_attempt_count_graph" style="max-height: 200px;"></canvas>
                    </div>
                    <div class="container text-center">
                        <a href="{{ url_for('admin_full_summary') }}" class="btn btn-success">See full Summary</a>
                    </div>
                
                </div>

                <div class="col border border-light border-2 py-2 px-3">
                    {% if users %}
                    <h2 class="text-center">Users</h2>
                    <table class="table table-bordered border-1 rounded-table">
                        <thead class="table-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th scope="row" class="text-center"> {{ loop.index }} </th>
                                <td class="text-center"> {{ user.id }} </td>
                                <td> {{ user.first_name }} {{user.last_name}} </td>
                                <td class="text-center"> {{user.qualification}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                    <h2 class="text-center mt-5">Users</h2>
                    <h2 class="text-center text-primary mt-3">No user registered yet!!</h2>
                    <div class="container text-center">
                        <small class="text-center text-muted">Once the user starts registering there data will show
                            here.</small>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-success m-1 py-2" href="{{url_for('admin_users_view')}}" role="button">View all Users</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const graphLabels = JSON.parse('{{ user_names | tojson | safe }}');
            const graphData = JSON.parse('{{ quiz_attempt_counts | tojson | safe }}');
            const ctx = document.getElementById('user_quiz_attempt_count_graph').getContext('2d');

            const myChart = new Chart(ctx,{
                type:'bar',
                data:{
                    labels:graphLabels,
                    datasets:[{
                        label:'Number of Quiz Attempts per User',
                        data:graphData,
                        backgroundColor: "rgba(75, 192, 192, 0.2)",
                        borderColor: "rgba(75, 192, 192, 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: "User Quiz Attempts Count",
                            font: { size: 16 }
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: "User Names",
                                font: { size: 14 }
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: "Number of Quiz attempted",
                                font: { size: 14 }
                            },
                            beginAtZero: true
                        }
                    }
                }
            })
        </script>
    </section>
</body>

</html>